* {
	border: 0;
	padding: 0;
	margin: 0;
	text-decoration:none;
	line-height:120%;
	color:#fff;
	font-weight:500;
	font-size:16px; 
	list-style:none;
    font-family: 'Montserrat', sans-serif;
    

}
html {
  scroll-behavior: smooth;
}
a,span,.submit
{
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}
p{
line-height:140%;
}
body{

background: #04F893 url("../img/layout.jpg") no-repeat center bottom;
background: #04F893;

}

strong{font-weight:bold;}

a:focus {
	outline: none;
}
.clear
{
clear:both;
}
.col1 {width: 6.382978%}
.col2 {width: 14.893617%;}
.col3 {width: 23.404255%;}
.col4 {width: 31.914893%;}
.col5 {width: 40.425531%;}
.col6 {width: 48.93%;}
.col7 {width: 57.446808%;}
.col8 {width: 65.957446%;}
.col9 {width: 74.468085%;}
.col10 {width: 82.978772%;}
.col11 {width: 91.489361%;}

.col12 {max-width: 930px; margin:0 auto; min-width:300px;}
.max1400 {max-width: 1280px; margin:0 auto; }

.col50{width:50%;}

.gutter {margin-left: 2.127659%;}

.gutter_vert {margin: 10px auto;}

img{
max-width:100%;
}

.grau45 {
-ms-transform: rotate(-45deg); /* IE 9 */
-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
transform: rotate(-45deg);
}



.amarelo{color:#FFF47E;}
.branco{	color:#fff;}
.cinza{color:#8A8A8A;}
.verde{color:#04F893;}
.azul{color:#115D8E;    padding: 4px 12px;}

.bg-azul{background-color:#007BCA;}
.bg-branco{background-color:#fff;}
.bg-amarelo{background-color:#FFCE00;}

.italico{font-style:italic;}
.bold{font-weight: bold;}
.extra-bold{font-weight: 800;}
.light{font-weight: 300;}
.regular{font-weight: 400;}
.medium{font-weight: 500;}

.borda{
border:1px solid #D8112C;
    padding: 5px 0;
    display: block;
}
.arredonda{
 -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
display: inline-block;
padding: 1% 2%;
margin: 7px 0;
}

.lt-space4{
letter-spacing:12px;
}
.lsp50{letter-spacing:-1.7px;}
.sp3{letter-spacing:3px;}
.sp2{letter-spacing:2px;}
.upper{text-transform:uppercase;}
.line100{line-height:100%;}
.open{font-family: 'Open Sans', sans-serif;}
.open-condensed{font-family: 'Open Sans Condensed', sans-serif;}


.f192{	font-size:183px; line-height: 80%;}
.f205{	font-size:175px; line-height: 72%; letter-spacing: -3px;}
.f90{	font-size:90px; line-height: 92%;}

.f68{	font-size:68px; line-height: 100%;}
.f110{	font-size:110px;  line-height: 100%; display: inline-block; margin-top: -8px;}
.f79{	font-size:79px; line-height: 100%;}
.f76{	font-size:76px; ; line-height: 90%;}
.f80{	font-size:80px;}
.f62{	font-size:62px; line-height: 68%;}
.f60{	font-size:60px; line-height: 100%; letter-spacing: -4px;}
.f82{	font-size:82px;  line-height: 100%;}
.f48{	font-size:48px;    line-height: 100%;}
.f42{	font-size:42px; line-height: 100%;}
.f46{	font-size:46px;    line-height: 100%;}
.f58{	font-size:58px;}
.f52{	font-size:52px; line-height: 100%;}
.f50{	font-size:50px;  line-height: 100%;}
.f56{	font-size:56px;  line-height: 100%;}
.f20{	font-size:20px;}
.f40{	font-size:40px;}
.f22{	font-size:22px;}
.f24{	font-size:24px;}
.f28{	font-size:28px;}
.f26{	font-size:26px;}
.f30{	font-size:30px;}
.f34{	font-size:34px;}
.f36{	font-size:36px;}
.f16{	font-size:16px;}
.f14{	font-size:14px;}
.f15{	font-size:15px;}
.f18{	font-size:18px;}
.f19{	font-size:19px;}
.f17{	font-size:17px;}
.f12{	font-size:12px;}
.f10{	font-size:10px;}
.f9{	font-size:9px;}
.f11{	font-size:11px;}
.f25{	font-size:25px;}
.f32{	font-size:32px;}
.f35{	font-size:35px;}
.f38{	font-size:38px; line-height:100%;}
.f8{	font-size:10px; font-family:'Arial'}
.centro{text-align:center; display:block;}
.direita{text-align:right;    display: inline-block;
    width: 100%;}

.arial{font-family:'Arial'}

.row{width:100%;overflow: hidden;}
.col-left{float:left;}
.col-right{float:right; }
.col-meio{margin:0 auto; }
.none{display:none;}

.margem{margin-top:10px; display:block;}
.margem1{margin-top:20px; display:block;}
.margem2{margin-top:40px; display:block;}
.margem3{margin-top:60px; display:block;}
.margem4{margin-top:80px; display:block;}

.redondo{
 -webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
}
.botao{
display:inline-block;
 -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding: 20px 33px;
background-size:auto 100%;
    margin-left: 0px;
	background-image: url("../img/gradiente-branco.png"); 
	background-repeat:repeat-x;
	cursor:pointer;
}
.botao img{
margin-right:5px;
transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}
.botao:hover img{
margin-right:0px;
}

.mobile{
display:none;
}
hr{background:#2685C5; height:7px; width:48px;}


/*---------------FINAL DAS CLASSES GLOBAIS*/
.head  {
    overflow: hidden;
    margin-top: 20px;
}
.box {
   display: flex;
   align-items:center;
   margin-left: 20px;
}
.box img{
   margin: 0 5px;
}
.banner {
    margin-top: 100px;
}

.banner h2{
   font-size:  72px;
letter-spacing: -1.73px;
font-weight:700;
width: 60%;
line-height: 80px;
}
.banner h3,
.banner h3 strong{
   font-size:  24px;
   width: 50%;
   line-height: 32px;
   margin-top:20px;
}
.banner h3 strong{
 background:#04F893;
 color:#4217B8;
 padding: 0 4px;
}
.banner .bg-banner{
	position:absolute;
	z-index:-1;
	top: 0%;
	height:830px;
	overflow:hidden;
	opacity: 1;
}
.banner .bg-banner .over-foto{
	position:absolute;
	width:100%;
	height: 100%;
	background: transparent radial-gradient(closest-side at 75% 46%, #0D052300 0%, #0E022A 100%) 0% 0% no-repeat padding-box;
	opacity: 0.8;
}
.banner .bg-banner img{
	margin-top:-22%;
}
.bn-nav{
	width:1200px;
	margin:0 auto;
	position: relative;
}
.bn-nav a{
	position: absolute;
	margin-top: -150px;
	cursor:pointer;
}
.proximo2 {
    right: 0;
}
.form-fachada {
    margin: 0 auto;
    max-width: 1200px;
	background:#4217B8;
	margin-top: 160px;
	padding: 80px 0;
}
.form-fachada .col-left,
.form-fachada .col-right{
	width: 50%;
}
.form-fachada .col-right{
	width: 50%;
	margin-top: -126px;
	    position: relative;
}
.form-fachada .col-left {
    margin-top: 80px;
}
.form-fachada h2 {
       font-size:  40px;
font-weight:700;
}
.form-fachada .col-right .subtit{
    font-size:  12px;
	display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
 float:left;
 position: absolute;
    bottom: 21%;
}
.form-fachada .col-right .subtit strong{
    font-size:  12px;
}
.form-fachada .col-right .fachada{
	 float:right;
	 margin-top: -160px;
}
.form-fachada .col-right .icocampanha{
	position:relative;
	float:none;
	    display: block;
}
.carrossel{
    max-width: 1200px;
    background: url(../img/bg-carrossel.svg) no-repeat bottom center;
    padding: 80px 0 0;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
}
.carrossel .proximo,
.carrossel .anterior{
	 width:96px;
	 height:80px;
	 background:#4217B8;
	 text-align:center;
	     display: flex;
    align-items: center;
	float:left;
	margin-top: -5px;
}
.carrossel .proximo img,
.carrossel .anterior img{
	margin:0 auto;
}
.carrossel .proximo:hover,
.carrossel .anterior:hover{
	background:#592bd8;
	cursor:pointer;
}
.duvidas {
	background:#fff;
	padding:160px 0;
	margin-top:80px;
}
.duvidas h2{
	font-size:40px;
	color:#4116B7;
	
}
.duvidas hr{
	width:96px;
	height:8px;
	 background:#04F893;
}
.duvidas p,
.duvidas strong{
	color:#4116B7;
	line-height:24px;
	
}
.duvidas p{
	    font-weight: 400;
}
.duvidas strong{
	display:block;
	margin-top:24px;
}

.rodape2 {
    padding: 80px 0 160px;
	background: #4217B8;
}
.rodape2 h2,
.rodape2 h2 strong{
   font-size:40px;
   font-weight:700;
   display:block;
}
.rodape2 strong{
   color:#04F893;
}
.rodape2 .coli2 {
	width: 23%;
    text-align: center;
	
}
.rodape2 .coli2 div{
	height: 100px;
	 display: flex;
   align-items:center;
}
.rodape2 .coli2 div img,
.rodape2 .coli2 div a{
margin:0 auto;
}

.rodape2 .coli2 span{
	text-align:center;
   font-size:7px;
   display: block;
}
.rodape2 .coli2.maior img{
width: 160%;
    max-width: 160%;
    margin-left: -30%;
}
.rodape2 .coli2.incena{
	width:15%;
}
.rodape2 .vds{
	width:35%;
}

.texto-legal{
font-size:8px;
}
.carrossel .legenda{
	display: block;
    position: absolute;
    bottom: 12%;
    right: 10%;
    z-index: 999999;
    background: #fff;
    color: #4217b8;
	padding: 5px 20px 5px 10px;
}
.carrossel li {
	position: relative;
}
.carrossel li:hover .legenda{
	
    background: #4217b8;
    color: #fff;
}


.diferenciais {
    margin: 0 auto;
    max-width: 1200px;
       margin-top: 8%;
    padding-bottom: 5%;

}
.diferenciais h2{
       font-size: 40px;
    font-weight: 700;
	color:#4217B8;
}
.diferenciais span{
       font-size: 16px;
    font-weight: 700;
	color:#4217B8;
	    margin-left: 20px;
		 width:45%;
}
.diferenciais li {
	 width:45%;
	 float:left;
	     margin-top: 4%;
    align-items: center;
    display: flex;
}
.diferenciais span.regular{
       font-size: 12px;
    font-weight: 300;
	color:#4217B8;
	margin-left: 0px;
}
.diferenciais li .col-left{
     height:64px;
	 width:64px;
	 display: flex;
    align-items: center;
    border: solid 3px #fff;
}
.diferenciais li .col-left img{
      margin: 0 auto;
}







.topo{
padding: 75px 0px 0;
top:0;
z-index:999;
}
.topo .bg-amarelo {
    margin-top: 47px;
    display: inline-block;
}

.logo {
    width: 20%;
}
.col-texto{
    width: 40.93%;
    margin-left: 8%;
    margin-top: 6%;
}
.chamada_{
     margin-left: -41px;
	
}
.chamada2{
    margin-top:79px;
    width: 318px;
    float: right;
    transform: rotate(11deg);
    margin-right: -17px;
	text-align: center;
	
}
.projeto{
		background: url("../img/elipse.svg") no-repeat center; 
    padding: 70px;
    padding-left: 70px;
    padding-top: 134px;
    line-height: 80%;
    padding-bottom: 110px;
    font-size: 60px;

}
.seg-form{
	
 -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
    padding: 33px 47px;
    width: 67%;
	    overflow: hidden;
        margin-top: 49%;

}

.esconde-tel,
.esconde-tel2,
.bt-mostrar
{
	display:none;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}
.tele:hover
{
cursor:pointer;
}
.esconde-tel.mostra,
.esconde-tel2.mostra,
.bt-mostrar2
{
	display:-webkit-inline-box;
}

.lt-space-400 {
    letter-spacing: 8.4px;
}
.lt-space-menos50{
letter-spacing: -6px;
}
.lotes {
    margin-left: 119px;
}
.cifrao{
margin-left:36px;
}
.pre-lancamento {
    margin-left: 112px;
	background: url("../img/bg-pre-lancamento.png") no-repeat center; 
	padding: 5px 0;
	    font-size: 22px;
    background-size: 68% auto;
}
.selo-projeto {
    margin-top: -19px;
    margin-right: -7%;
    width: 40.914893%;
    border-radius: 100%;
    overflow: hidden;
    float: right;
}
.segura{
		background: url("../img/bg-meio.png") no-repeat 50% bottom; 
		    z-index: 1;
    position: relative;
    padding-bottom: 100px;
}
.cadastre-se{
		
width:100%;
    padding: 0px 0;
    margin-top: -67px;
	padding-bottom: 80px;
	    z-index: 1;
    position: relative;
}
.entre-contato{
    background: url(../img/bg-preencha.png) no-repeat center right;
    height: 100px;
    width: 315px;
    text-align: right;
    line-height: 28px;
    margin-left: -39px;
    padding-right: 10px;
}


.meio {
    overflow: hidden;
    margin-top: 681px;
	padding-bottom: 40px;
}
.meio .col50{
    text-align:left;
}
.tit-1{
    margin-top: 122px;
    display: inline-block;
}


.carrossel li:first-child{
margin-left:0;
}

.botoes a {
 background: url(../img/setas.png) no-repeat center right;
 width:37px;
 height:49px;
 opacity: 1;
 cursor:pointer;
display:block;
position:absolute;
top:27%;
    right: -76px;
}
.botoes .anterior {
background-position:left center;
    left: -76px;
}
.botoes .proximo {
    top: 48%;
}
.araruama {
    padding-top: 105px;
	background: url(../img/bg-araruama.jpg) no-repeat center ;
	background-attachment:fixed;
}
.araruama h3{
margin-bottom:15px;
    letter-spacing: -3px;
}
.linha-amarela{
width: 2px;
    background: #FDF145;
    height: 98px;
       margin: 13px auto 0;
}
.localizacao  {
    padding-top: 120px;
	background-color: rgba(251, 233, 4, 0.7);
}
.localizacao *{
  color:#373133;
}
.localizacao h3 {
    margin-bottom: 38px;
	    letter-spacing: -3px;
}
.box-preto {
    background: #333;
    margin-top: 120px;
    padding: 32px 45px;
}
.box-preto span {
    color: #fff;
}
.box-preto.box2 {
    background: #333;
    margin-top: -10px;
    padding: 22px 35px;
}
.endereco {
    margin-top: -33px;
    z-index: 9;
    position: relative;
}
.realizacao{

}

.over {

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
	 overflow: scroll;
    background-color:rgba(0, 0, 0, 0.85);
    top: 0;
transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}
.over .legenda{
position:relative;
top:50%;
}
.over .legenda strong{
border-top:4px #F7C300 solid;
padding-top:5px;
color:#F7C300;
}
.list-lazer li:hover .over{
margin-top:0%;
}
.casas.bg-azul {
    width: 44%;
    margin: 0 auto;
    padding: 20px 15px;
    cursor: pointer;
    margin-bottom: 150px;
}
a.bg-azul:hover {
background: #209bea;
}

#lightSlider li img{
  
}


.formContatoMensagem {
	position:fixed;
	background:rgba(0, 0, 0, 0.8);
	height:100%;
	width:100%;
	top: 0;
    left: 0;
    padding: 10% 0;
	z-index:99999;
	visibility:hidden;
	-webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.formContatoMensagem span{
    position: absolute;
    width: 500px;
    /* top: -200%; */
    left: 50%;
    margin-left: -250px;
    background: #fff;
    /* padding: 120px; */
    z-index: 9;
        padding: 106px 0px;
    line-height: 250px;
    text-align: center;
    color: #333;
    font-size: 20px;
    border-radius: 20px;
}
.formContatoMensagem.teste,
.formContatoMensagem.teste2 {
	visibility:visible;
}
.formContatoMensagem.teste span{
	 color: red;
}
.formContatoMensagem.teste2 span{
	 color: green;
}
.form-whats .se{
    margin: 10% auto;
    width: 40%;
    padding: 6%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.bt-fechar,
.bt-fechar2 {
    position: absolute;
    top: 5%;
    right: 5%;
	cursor:pointer;
    width: 80px;
    height: 80px;
    text-align: center;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}
.bt-fechar:hover,
.bt-fechar2:hover {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 75px;
    height: 75px;
    text-align: center;
	cursor:pointer;
}
.form-whats .se input {
   
	   
}
.bt-fechar3 {
    width: 45px;
    height: 45px;
    margin: 0 auto;
    margin-bottom: -20px;
    position: relative;
    z-index: 999;
    padding: 10px;
}
.form-whats .se input[type="submit"] {
       float: none;
    height: 80px;
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
}

.rodape {
	background: url(../img/rodape.png) no-repeat top center ;
    padding: 195px 0 40px;
    background-size: auto;
    overflow: hidden;
	    z-index: 1;
    position: relative;
	margin-top: -240px;
}
.assinatura
{
    margin-top: 90px;
}
#map iframe{
height:600px; 
width:100%;
}

#lightSlider2 .lslide {
width:940px;
min-height:680px;
}

.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    margin-top: 0px!important;
	display:none;
}

.mapa{
    width: 100%;
    height: 960px;
    z-index: 0;
    margin-top: -160px;
}
/*---------------FORMULARIO*/
.form{
   ;
}
.col-input{
    width: 70.5%;
}
input,
input[type=password],
textarea,
.styleCombobox,
select
  {
width: 72%;
    padding-left: 0%;
    height: 80px;
    margin-bottom: 6px;
    /* font-size: 13px; */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    background: transparent;
    border-bottom: solid 1px #04F893;
    /* font-family: 'Arial', sans-serif; */
    font-style: normal;
    position: relative;
    font-weight: 700;
}
textarea{
    width: 95%;
}
.styleCombobox{
background: url("../img/bg-select.png") no-repeat  95% 50%;
}
span.skin{
font-family: 'Open Sans', sans-serif;
font-style:italic;
font-size: 13px;
display:block;
position:absolute;
top:20px;
color:#fff;
text-align: left;
}
option{color:#666666;}
.mensagemErro{color:#fff;}

input[type="submit"] {
	    width: 72%;
    /* margin-top: 28px; */
    background: transparent;
    cursor: pointer;
    font-weight: 700;
    border:solid 6px #04F893;
     font-size: 24px; 
    /* height: 40px; */
    background-size: auto 100%;
    display: block;
    height: 80px;
    -webkit-appearance: none;
	margin-top: 80px;
}

textarea{
    height: 45px;
    max-height: 45px;
padding-top: 19px;
}
input[type="submit"]:hover{
	background: #04F893;
	color: #4217B8;
}
.brilho:hover,
.banner .lSSlideOuter a:hover {
 -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
.campo1,
.campo2{
float:left;
}
.campo1{width:60%;}
.campo2{width: 32.8%; }

::-webkit-input-placeholder { color:#fff; text-align:left; font-size: 16px;} 
::-moz-placeholder { color:#fff; text-align:left; font-size: 16px;} /* firefox 19+ */ 
:-ms-input-placeholder { color:#fff; text-align:left; font-size: 16px;} /* ie */ 
input:-moz-placeholder { color:#fff; text-align:left; font-size: 16px;}


.seta{
margin-top: -70px;
}

.lSSlideOuter .lSPager.lSpg > li a {
    width: 14px;
    height: 14px;
    margin-top: 10px;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, 
.lSSlideOuter .lSPager.lSpg > li.active a{
background:#ffce00;
border:solid 4px transparent;
}
.lSSlideOuter .lSPager.lSpg > li a {
border:solid 4px #ffce00;
background:none
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
    float: none;
	height: 34px;
}

.banner .lSSlideOuter .lSPager.lSpg > li a {
    border: #03f893  solid 2px;
	background:none;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.banner .lSSlideOuter .lSPager.lSpg > li:hover a, .banner .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #03f893 ;
	 border: transparent solid 2px;
}
.banner .lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: left;
    top: 0;
	display:block;
	width: 943px;
    margin: 0 auto;
}
.banner .lSSlideOuter {
position:relative;
}
.banner .lSSlideOuter .lightSlider, 
.banner .lSSlideOuter .lSPager {
    padding-left: 0;
    margin-top: 40px;
    list-style: none outside none;
}
.banner .lSSlideOuter a{
    cursor: pointer!important;
}

.banner .lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding-right: 15px;
	    margin-top: 20px;
}
.meio .lSPager{
display:none;
}

.graus-6{
    transform: rotate(-6deg);
	display:block;
}
.graus3{
    transform: rotate(3deg);
	display:block;
	    float: left;
    margin-left: 2px;
    margin-top: 20px;
}
.local * {
line-height:80%;
 
}
.local a img{
height:645px;
}
.local .col4 {
    margin-top: 190px;
    margin-left: 0;
    width: 26.914893%;
    padding-left: 6%;
   
}
.local .pin-local  {
    margin-top: 8px;
    margin-left: 27px;
	    
}
.local .pin-local span {
    margin-top: 10px;
    margin-left: 5px;
	line-height: 124%;
   
}
.carrossel2{
	background: url("../img/bg-foto-local.png") no-repeat  top right;
	    margin-top: 27px;
}
.carrossel2 li img{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	width: 86%;
    margin-left: 3%;
}
.carrossel2 .lSPager {
	display:none;
}
.carrossel2 .lSAction a{
	position:static;
	background: url("../img/seta-l.svg") no-repeat  top center;
width: 65px;
    margin: 0;
    opacity: 1;
    float: left;
	margin-top: 50px;
}
.carrossel2 .lSAction a.lSNext{
	position:static;
	background: url("../img/seta-r.svg") no-repeat  top center;

}
.carrossel2 .lSAction {
background: #fff;
    width: 130px;
	height: 130px;
    height: 130px!important;
    position: absolute;
    top: 59%;
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	-ms-transform: rotate(6deg); /* IE 9 */
-webkit-transform: rotate(6deg); /* Chrome, Safari, Opera */
transform: rotate(6deg);
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  
}
.bounce2 {
  -webkit-animation-name: bounce2;
  animation-name: bounce2;
  
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 
@-webkit-keyframes bounce2 { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);} 
    40% {-webkit-transform: translateX(-15px);} 
    60% {-webkit-transform: translateX(-5px);} 
} 

@keyframes bounce2 { 
    0%, 20%, 50%, 80%, 100% {transform: translateX(0);} 
    40% {transform: translateX(-15px);} 
    60% {transform: translateX(-5px);} 
} 


.shake:hover,
 .carrossel2 .lSAction a:hover,
 .shake2{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.erroForm::-webkit-input-placeholder {
	color: #6f0808;
	opacity: 1;
	font-family:'Conv_Gotham-Bold';
	padding-left: 10px;
	font-style: italic;
}

.erroForm:-moz-placeholder { /* Firefox 18- */
 	color: #6f0808;
 	opacity: 11;
 	font-family:'Conv_Gotham-Bold';
 	padding-left: 10px; 
 	font-style: italic;
}

.erroForm::-moz-placeholder {  /* Firefox 19+ */
 	color: #6f0808;
 	opacity: 11;
 	font-family:'Conv_Gotham-Bold';
 	padding-left: 10px; 
 	font-style: italic;
}

.erroForm:-ms-input-placeholder {  
  	color: #6f0808;
  	font-family:'Conv_Gotham-Bold';
  	padding-left: 10px;
  	font-style: italic;
  	opacity: 1;
}


#player .ytp-title {
    overflow: hidden;
    flex: 1;
    display: none!important;
}