
@media only screen and (max-width: 1400px) {
	.banner .bg-banner img {
		margin-top: -5%;
	}
	.f48 {
    font-size: 24px;
    line-height: 100%;
	}
}
@media only screen and (max-width: 800px) {

.topo .col7{
margin-top:20px;
}
.f110 {    font-size: 72px;}
.f82 {    font-size: 55px;}
.f45 {    font-size: 30px;}
.f16 {    font-size: 13px;}
.f18 {    font-size: 14px;}
.f34 {    font-size: 26px;}
.f96 {
    font-size: 72px;
    line-height: 92%;
}

.max1400,
.clientes-logos .lightSlider li,
#lightSlider2 .lslide  {
max-width:800px;
}
.clientes-logos .lightSlider li img {
    width: 25%;
	}

.f21 {
    font-size: 17px;
}
.f15,
.f14 {
    font-size: 12px;
}
.topo .col3{
width:auto;
}
.topo {
    overflow: hidden;
    background-position: -382px 0;
	padding: 0;
	    width: auto;
}
.f40 {
    font-size: 33px;
}
.splash {
    background: url("../img/splash.png") no-repeat center;
    padding: 68px 26px;
}
.casal {
    margin-left: 412px;
    margin-top: 1px;
}
.col-form{
background: #B6D0E3;
    padding: 12%;
	margin:10% 5%;
}
.banner .col3 {
    margin: 20px auto;
}
.col-form .f14{
font-size: 30px;
}
.lotes {
    margin-left: 0;
    text-align: center;
    display: block;
}
.lt-space-400 {
    letter-spacing: 4.4px;
}
.f22 {
    font-size: 19px;
}
.pre-lancamento {
    margin-left: 0;
}
.f68 {
    font-size: 48px;
    line-height: 100%;
}
.f122 {
    font-size: 95px;
    line-height: 100%;
}
.form {
    margin-top: -48px;
    margin-left: 30px;
    width: 92%;
}
.seta {
    margin-top: 20px;
    position: absolute;
    left: 50%;
}

}


@media only screen and (max-width: 680px) {
.col1,
.col2, 
.col3, 
.col4, 
.col5, 
.col6, 
.col7, 
.col8, 
.col9, 
.col10,
.col11,
.col50,
.banner .col5,
.col7.quadros,
.qd-branco

{
width:96%;
margin:0 auto;
}
.col12 {
	width:94%;
margin:0 auto;
}
body {
    
	
}
.head {
    overflow: hidden;
    margin-top: 5%;
}
.gutter {
    margin:auto;
}
.topo {
    overflow: hidden;
    padding-top: 20px;
	background-position: -250px top;
    background-size: auto 36%;
}
.mobile{
display:block;
}
.desktop{
display:none;
}

.topo .margem1{
margin-top:0;
}
.topo .ico,
.seta{
display:none;
}
.topo.fixo .col7 {
    margin-top: 0;
}
.f76 {
    font-size: 56px;
    line-height: 90%;
}
.f32 {
    font-size: 19px;
}
.banner {
    padding: 48px 0 0px;
	background-size: auto 100%;
	}
.banner .f24 {
    letter-spacing: 9px;
}
.f24 {
    font-size: 17px;
}
.logo {
    width: 100%;
}
.f205 {
    font-size: 125px;
    line-height: 72%;
    letter-spacing: -3px;
}
.corretor,
.corretorfixo{
display:none;
}
.form {
        width: 62%;
    margin: 0 auto;
}
.col-left,
.col-right {
    float: none;
}
.topo .col-left {
    float: left;
}
.topo .col-right {
    float: right;
}
.topo .col4 {
    width: 18%;
}
.topo .col3 {
    width: 100%;
}
.list-lazer li {
    width: 100%;
	}
	
#lightSlider .lslide {
    max-width: 480px;
    margin: 0 auto;
	    width: 100%;
}
.f105 {
    font-size: 96px;
	}
	.banner .lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: auto;
    width: 100%;
    bottom: 13%;
}
.meio .f58 {
   text-align:center;
}
.rodape {
/*padding:0;*/
}
.casal {
display:none;
}
.meio {
    padding: 56px 0 0px;
	}
	.endereco {
	     margin-top: 0px; 
	}
.f54 {
    font-size: 41px;
    line-height: 100%;
}
.f28 {
    font-size: 14px;
}
.f48 {
    font-size: 38px;
    line-height: 100%;
}
.rodape form {
    margin-top: 30px;
}
p {
    line-height: 120%;
}
.f96 {
    font-size: 55px;
    line-height: 92%;
}
.f50 {
    font-size: 34px;
    line-height: 100%;
}
.f66 {
    font-size: 42px;
    line-height: 48%;
}
.rodape .f50.branco {
    margin-top: 0;
    display: block;
}
.rodape .f26.laranja {
    letter-spacing: 11px;
    width: 100%;
    display: block;
}
#map iframe{
height:300px; 
width:100%;
}
.logo img{

    max-width: 60%;

}
.f40 {
    font-size: 20px;
}
a.bg-azul {
    width: 64%;
    margin: 0 auto;
    padding: 20px 15px;
    cursor: pointer;
    margin-bottom: 0px;
}
.topo h2 {
    margin: 20px 0;
}
/*.seguro{
    background: url("../img/qt-azul.png") no-repeat center top;
	background-size:100%;
}
.seguro .azul{
color:#fff;
}*/
.qd-azul {
margin-top:0;
padding: 100px 0 298px 0;
}
.col-meio .txt {
    padding-bottom: 50px;
}
.qd-branco span.f22 {
    font-size: 22px;
}
.banner .col5 .f22 {
    margin-top: 18px;
    font-size: 24px;
}
.topo .col-right{
text-align:center;
}
.topo .col-form {
width:70%;
}
.splash {
margin: 0 auto;
    margin-top: 128px;
}
.banner .f15.branco {
    background: #2685C5;
    color: white;
    padding: 10px;
	    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 11px;
}
.f45 {
    font-size: 25px;
}
.f34 {
    font-size: 26px;
}

.topo .chamada .f48 {
    /* display: block; */
	    font-size: 26px;
		padding: 0 34px;
}
.topo .chamada .f36 {
    font-size: 26px;
}
.topo h2.chamada2 .f28 {
    font-size: 19px;
    margin-top: 14px;
}
.projeto {
    margin-top: 82%;
}
.projeto.f28 {
        font-size: 48px;
		
}
.carrossel li {
        height: 305px;
}
.f192 {
    font-size: 134px;
    line-height: 80%;
}

.rodape {
   background: #fff;
    padding: 88px 0 40px;
    background-size: 100% auto;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin-top: 0;
}
.rodape *{
text-align:center;
}
.rodape .entre {
    background: url("../img/bg-entre-contato.png") no-repeat center;
    padding: 148px 0;
    background-size: 100%;
    text-align: left;
}
.campo1, .campo2 {
   width:100%;
   margin-bottom:12px;
}
.f79 {
    font-size: 52px;
    line-height: 100%;
}
.f100 {
    font-size: 70px;
    line-height: 100%;
}

.f19 {
    font-size: 13px;
}
.f48 {
    font-size: 22px;
    line-height: 100%;
}

.form-whats .se,
.form-whats2 .se {
    margin: 15% auto;
    width: 70%;
    padding: 9%;
    border-radius: 20px;
    position: relative;
    padding-top: 27%;
    
}
.form-whats .se input,
.form-whats2 .se input {
    width: 90%;
    height: 80px;
}
.assinatura {
    margin: 20px 0;
}
input, input[type=password], textarea, #fone {
    width: 90%;
    padding-left: 10%;
}
input[type="submit"]{
width: 100%;
padding-left: 0;
}
.casas.bg-azul {
    width: 44%;
    margin: 0 auto;
    padding: 20px 15px;
    cursor: pointer;
    margin-bottom: 0px;
}
.tit-1{
    width: 80%;
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.local a img {
    height: auto;
}
.carrossel2 .lSAction {
display:none!important;
}
.banner {
    margin-top: 0;
}

.banner h2 {
    font-size: 56px;
    letter-spacing: 0;
    font-weight: 700;
    width: 100%;
    line-height: 120%;
}
.banner h3, .banner h3 strong {
    font-size: 16px;
    width: 100%;
    line-height: 120%;
    margin-top: 20px;
}
.bn-nav {
    display: none;
}
.diferenciais li {
    width: 100%;
    float: none;
    margin-top: 4%;
    align-items: center;
    display: flex;
}

}

@media only screen and (max-width: 440px) {
#lightSlider .lslide,
#lightSlider2 .lslide,
#lightSlider3 .lslide  {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}
.direita {
    text-align: center;
    display: inline-block;
    width: 100%;
}
.f105 {
    font-size: 62px;
}
.col-input {
    width: 100%;
}
.local .pin-local span {
    margin-top: 10px;
    margin-left: 5px;
    line-height: 124%;
    display: block;
}
.pre-lancamento {
    margin: 0 auto;
}
.lotes {
margin:0 auto;
}
.cifrao {
    margin-left: 0;
}
.f122 {
    font-size: 74px;
    line-height: 100%;
}

.topo .col4 {
    width: 100%;
    margin-top: 50%;
}
.cadastre-se {
    background-color: #226d9d;
    width: 100%;
    padding: 0px 0;
    margin-top: 0px;
	    margin-bottom: 0px;
		    margin-top: -20px;
    margin-bottom: 0px;
    z-index: -1;
}
.mapa {
    width: 100%;
    height: 720px;
    z-index: 0;
    margin-top: 0;
}
.seg-form {
    padding: 20% 0;
	background: none;
}

.f60 {
    font-size: 46px;
	}
	.f20 {
    font-size: 15px;
}
.form {
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
}
.form-whats .form {
     margin-top: -14px;
     width: 100%;
}
.form-whats .se input[type="submit"] {
    width: 100%;
    float: none;
}
.bt-fechar, .bt-fechar2 {
    width: 50px;
    font-size: 50px;
    height: 50px;
}
body {
    
}
.qualidade{
background-color: #EFF0EA;
}
.local .col4 {
    margin-top: 20;
    margin-left: 0;
    width: 96%;
    padding-left: 0;
}
.local .pin-local {
    margin-top: 0;
    margin-left: 0;
}
.carrossel2 {
    background: none;
    margin-top: 54px;
}
.carrossel2 li img {
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0;
    width: 100%;
    margin-left: 0;
}
.local .col8 {
    width: 100%;
}
.lSSlideOuter .lSPager.lSpg > li a {
    width: 4px;
    height: 4px;
    margin-top: 50px;
}
.local .col4 {
    margin-top: 30px;
}
.carrossel {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 15px;
    margin-bottom: 0%;
}
.duvidas {
    background: #fff;
    padding: 160px 0;
    margin-top: 0;
}

}


@media only screen and (max-width: 480px) {
.f105 {
    font-size: 54px;
}
.banner .lSSlideOuter {
    position: relative;
    min-height: 400px;
}
.f62 {
     font-size: 35px;
    line-height: 82%;
}
.max1400,  
.clientes-logos .lightSlider li
 {
    max-width: 280px;
	width: 100%;
}
#lightSlider2 .lslide
{
    max-width: 320px;
}
#lightSlider2 .lslide {
	padding:0 0 40px;
}
.clientes-logos .lightSlider li img {
    width: 50%;
}
.carrossel li {
        height: 250px;
}


.f56 {
    font-size: 48px;
    line-height: 100%;
}
.veja-tambem{
margin:20px 0;
clear:both;
display:block;
}
.f22 {
    font-size: 14px;
}
.entre-contato {
       background: url(../img/bg-preencha.png) no-repeat center left;
    height: 100px;
    width: auto;
    text-align: center;
    line-height: 28px;
    margin-left: 0;
    padding-right: 0;
    font-size: 15px;
}
.topo .col-left {
    float: none;
}
.f68 {
    font-size: 54px;
    line-height: 100%;
}
.box-preto.box2 {
    background: #333;
    margin-top: 20px;
    padding: 19px 2%;
}
.logo {
    width: auto;
	    float: left;
}

.logo img {
    max-width: 100%;
}
.head .col-right {
    float: right;
}
.head .col-right a{
    float: left;
}
.head .box {
	margin-left: 0px;
}
.head .box span {
	display:none;
}

.selo-projeto {
    width: 70%;
}
.lt-space-400 {
    letter-spacing: 4.4px;
}
.rodape .col8 {
    width: 70%;
}
.segura {
    background-size: 280% 90%;
}
.banner .bg-banner img {
    width: 290%;
    max-width: 1200%;
    text-align: center;
    margin-top: 0;
    margin-left: -59%;
}
.lSSlideOuter   {
    width: 94%;
	margin: 0 auto;
}
.lSSlideWrapper .col12{
width: 96%;
}

.form-fachada {
    margin: 0 auto;
    margin-top: 0px;
    padding: 20px 0;
}
.form-fachada .col-left, .form-fachada .col-right {
    width: 100%;
}
.form-fachada .col-right {
    width: 100%;
    margin-top: 0;
    position: relative;

}
.form-fachada .col-right .icocampanha {
    position: relative;
    float: none;
    display: block;
    width: 50%;
}
input, input[type=password], textarea, #fone {
    width: 100%;
    padding-left: 5%;
}

.rodape2 {
    padding: 10% 0 20%;
}
.rodape2 .vds {
    width: 100%;
    text-align: center;
    margin: 0 auto;
	    margin-bottom: 10%;
}
.rodape2 .coli2 {
    width: 100%;
    text-align: center;
}
.box img {
    margin: 0 5px;
    width: 70%;
}
.rodape2 .coli2 div {
    height: 160px;
    display: flex;
    align-items: center;
    margin-top: -40px;
}
.rodape2 .coli2.incena {
    width: 67%;
    margin: 0 auto;
}
.rodape2 .coli2.incena img{
    width: 100%;
}
.rodape2 h2, .rodape2 h2 strong, .rodape2 a {
    font-size: 40px;
    font-weight: 700;
    display: block;
    text-align: center;
}

.banner .bg-banner .over-foto {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1e1046f0;
    opacity: 0.8;
}

}